<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBAse</title>
</head>
<body>
    <h1>All Endpoints Available for this API</h1>
    <h2>Users:</h2>
    <ul>
        <li><span>GET</span>     <a href="https://capt.herokuapp.com/users">/users</a>
        <li><span>GET</span>      <a href="https://vinyl2api.herokuapp.com/users">/users/:id</a></li>
        <li><span>POST</span>     <a href="https://vinyl2api.herokuapp.com/users">/users</a></li>
        <li><span>PATCH</span>    <a href="https://vinyl2api.herokuapp.com/users">/users</a></li>
        <li><span>PUT</span>      <a href="https://vinyl2api.herokuapp.com/users">/users/:id</a></li>
        <li><span>DELETE</span>   <a href="https://vinyl2api.herokuapp.com/users">/users/:id</a></li>
        <li><span>GET</span>      <a href="https://vinyl2api.herokuapp.com/users">/users/:id/cart</a></li></li>
        <li><span>POST</span>     <a href="https://vinyl2api.herokuapp.com/users">/users/:id/cart</a></li></li>
        <li><span>PUT</span>      <a href="https://vinyl2api.herokuapp.com/users">/users/:id/cart</a></li></li>
        <li><span>DELETE</span>   <a href="https://vinyl2api.herokuapp.com/users">/users/:id/cart</a></li></li>
    </ul>
    <h2>Products:</h2>    
        <ul>
            <li><span>GET</span>      <a href="https://vinyl2api.herokuapp.com/products"> /products</a>
            <li><span>GET</span>      <a href="https://vinyl2api.herokuapp.com/products"> /products/</a></li>
            <li><span>POST</span>     <a href="https://vinyl2api.herokuapp.com/products"> /products/</a></li>
            <li><span>PUT</span>      <a href="https://vinyl2api.herokuapp.com/products"> /products/:id</a></li>
            <li><span>DELETE</span>   <a href="https://vinyl2api.herokuapp.com/products"> /products/:id</a></li>
        </ul>
</body>
</html>